<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%-include('header.ejs') -%>
    <h1 style="color: #1abc9c;">Welcome <%=name%> !</h1><br>
    <p style="font-size: 20px;"> <%=homeText%></p><br>
    <h1>Your Post</h1><br>
    <form action="/post" method="post">
        <%  posts.forEach(post => { %>

            <h1><%=post.title%></h1>
            <p>
            <%=post.content.substring(0, 100) + " ..."%>
            <a href="/posts/<%=post._id%>">Read More</a>
            </p>
        
        
            <% }); %>


    
</form>
    <%-include('footer.ejs') -%>
</body>
</html>